include MANIFEST MANIFEST.in LICENSE.txt NEWS.txt
include source/*.c source/*.h

include unittests/*.py
include docs/*.html docs/*.css docs/*.stx
include samples/rt samples/rt.bat
recursive-include samples *.py README*
