include MANIFEST MANIFEST.in LICENSE.txt NEWS.txt README*
include source/*.c source/*.h
include source/darwin/*.c source/darwin/*.h

include unittests/*.py
include docs/*.html docs/*.css docs/*.stx
include samples/rt samples/rt.bat
recursive-include samples *.py
recursive-include win32 *.py *.idl *.html *.cpp
